#feed {
  margin: auto;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  min-height: 80%;
}

#swipe-buttons-container {
  margin-top: 425px;
}

/* Gives the last card on the pile a drop shadow*/
#card-container > :first-child > #recipe-card {
  box-shadow: 0px 0px 10px lightgray;
}

#feed-swipe-instructions {
  margin: auto;
  padding: 0.8rem;
  text-align: center;
}

#swipe-help-text {
  margin: auto;
  padding: 0.8rem;
  text-align: center;
  margin-top: 0.2rem;
}

#card-container {
  margin-bottom: 24rem;
}
