.container {
    width: 100%;
    height: 100%;
}

.card {
    padding: 3em;
    position: fixed;
    max-width: 40em;
    min-width: 30em;
    align-items: center;
}

.form-control, button {
    min-width: 20em;
    max-width: 30em;
}