.container {
    width: 100%;
    height: 100%;
}

.recipe-card {
    padding: 3em;
    position: fixed;
    max-width: 40em;
    min-width: 30em;
    align-items: center;
}

.form-group {
    min-width: 17em;
    max-width: 25em;
}