#registration-card {
    padding: 2.5rem;
    margin: 1.3rem;
    align-items: center;
}

#registration-form-group, #registration-form-alert, #registration-form-button {
    min-width: 17em;
    max-width: 25em;
}